{% load static %}
<!DOCTYPE html>
<html>
<title>HOME</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url('{% static "boom.jpg"%}')}
.bgimg2 {background-image: url('{% static "kulintang.jpg"%}')}
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'main-home' %}">LOCSICAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main-home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
    </form>
  </div>
</nav>

{%  if messages %}
    {% for messages in messages %}
        <div class="alert alert-{{messages.tags}}">
            {{messages}}
        </div>
    {% endfor %}
{%  endif %}

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Home</h1>
    <head>
      <style type="text/css">
        .OutlineText {
          font: Tahoma, Geneva, sans-serif;
          font-size: 64px;
            color: white;
            text-shadow:
            /* Outline */
            -1px -1px 0 #000000,
            1px -1px 0 #000000,
            -1px 1px 0 #000000,
            1px 1px 0 #000000,  
            -2px 0 0 #000000,
            2px 0 0 #000000,
            0 2px 0 #000000,
            0 -2px 0 #000000; /* Terminate with a semi-colon */
        }
      </style>
      <h4>
      Music has become an essential part of everyday living. By sharing our musical craft, we introduce our culture, and we influence people.
      By continually sharing our music, our idenity and culture will never die and we will grow</h4>
    </head>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#home" style="width:25%" class="w3-bar-item w3-button">Home</a>
    <a href="#us" style="width:25%" class="w3-bar-item w3-button">Music of Indigenous People</a>
    <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">Find Us</a>
    <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">Donate now!</a>
  </div>
</div>

<!-- About / Jane And John -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-grey"><b>Music of Indigenous People</b></h1>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <center><video width="500" height="450" controls autoplay>
            <source src="{% static '1.mp4' %}" type="video/mp4"> </source>
          </video></center>
          <h2><center>Kutiyapi</center></h2>
          <p align="center">
            -	Two stringed lute made of wood, one string for the melody, one for the drone. Eight frets originally held in place placed on the neck of the lute by a sticky rubbery substance, propolis, produced by honey bees to repair damages and openings in the hive. The lute is decorated with floral motives; the tail is carved to represent a stylised crocodile head.
            Reference: https://www.kipas.nl/Instruments/Kudyapi.htm
            Price: Php 61,068.40 (Antique) 
            </p>
        </div>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <center><video width="500" height="450" controls autoplay>
            <source src="{% static '2.mp4' %}" type="video/mp4"> </source>
          </video></center>
          <h2><center>Kulintang</center></h2>
          <p align="center">
            -	Kulintang music is Filipino - the melodies of kulintang are based on traditional chanting, vocal music and boat-lute music that were eventually translated to the Kulintang ensemble. This used to be how our ancestors communicated with each other. They are actual voices, and the patterns on a piece are conjugations of each other, as if speaking a language.
            -	Kulintang music is not part of any religious practice - Its association with Islam has become a tactic for the Spanish conquistadors to create a divide as they found it hard to infiltrate the Mindanao region. Calling kulintang Islamic music is like calling Philippine music Spanish.
            Reference: https://usa.inquirer.net/8190/7-basic-things-know-kulintang-music
            Price: Php 18,500
          </p>
        </div>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <center><video width="500" height="450" controls autoplay>
            <source src="{% static '3.mp4' %}" type="video/mp4"> </source>
          </video></center>
          <h2><center>Gambang</center></h2>
          <p align="center">
            A gambang, properly called a gambang kayu ('wooden gambang') is a xylophone-like instrument used among peoples of Indonesia and the southern Philippines in gamelan and kulintang,
            with wooden bars as opposed to the metallic ones of the more typical metallophones in a gamelan. A largely obsolete instrument, the gambang gangsa, is a similar instrument made with metal bars.
          </p>
        </div>
      </div>
    </article> <br>
  </div>
</div>



<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-black"><b>FIND US</b></h1>
    <img class="w3-round-large w3-grayscale-min" style="width:100%;margin:64px 0 url('{% static 'kudyapi.jpg' %}')"></img>
    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>Time Open - 8:00am</p>
        <p>TIme Close - 5:00pm</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>940 Aurora Blvd., Cubao, Quezon City</p>
      </div>
    </div>
  </div>
</div>


<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
  <h1>DO YOU ENCOURAGE INDIGENOUS MUSIC?</h1>
  <p class="w3-large">Support Us Now!</p>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">Donate Now!</button>
    <a class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" href="{% url 'main-partner'%}" style="padding:8px 60px" >Partner with us</a>
  </p>
</div>



<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">Enter amount</h1>
      <form>
        <input class="w3-input w3-border" type="text" placeholder="Amount in Pesos" name="name">
      </form>
      <p><i>Thank you!</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <a href="{% url 'main-donate' %}"><button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Continue</button></a>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>